@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0px;
    top:0;
    background: linear-gradient(to right bottom, rgb(51, 97, 230), rgb(100 , 209 , 249))  no-repeat ;
    min-height: 100%;
    width: 100%;
}
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to right bottom,
        rgb(51, 97, 230)
      )
      rgb(var(--background-start-rgb));
}